/out/production/JavaFxApplication/pl/lublin/wsei/java/cwiczenia/Controller.class
/out/production/JavaFxApplication/pl/lublin/wsei/java/cwiczenia/Main.class
/out/production/JavaFxApplication/pl/lublin/wsei/java/cwiczenia/sample.fxml
/out/production/JavaFxApplication/pl/lublin/wsei/java/cwiczenia/test/TestConnection.class
